* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: #222;
    color: #f9f9f9;
}

tooltip {
    background: #000;
    border-radius: 10px;
}

tooltip label{
    color: #f9f9f9;
}

#workspaces button {
    padding: 4px;
    color: #666;
}

#workspaces button.active {
    color: #f9f9f9;
    border-radius: 10px;
}

#workspaces button:hover {
    color: #f9f9f9;
    border-radius: 10px;
}

#custom-lock_screen,
#custom-power_btn,
#custom-weather,
#window,
#custom-updates,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight,
#language,
#bluetooth {
    padding: 0px 8px;
}

/* #temperature.critical { */
/*     color: #e92d4d; */
/* } */

#workspaces {
  margin: 0 8px;
}

#window {
    border-radius: 10px;
}

#tray {
  margin: 0 4px;
}

#bluetooth {
  border-bottom: 2px solid #4ecdc4;
}

#network {
  border-bottom: 2px solid #ff79c6;
}

#battery {
  border-bottom: 2px solid #50fa7b;
}

#backlight {
  border-bottom: 2px solid #f1fa8c;
}

#pulseaudio {
  border-bottom: 2px solid #bd93f9;
}

#clock {
  border-bottom: 2px solid #ced0ce;
}

#language {
  border-bottom: 2px solid #bd93f9;
}

#custom-power_btn {
  margin-right: 8px;
  color: #ff5555;
}

