* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #89b4fa;
}

tooltip {
  color: #fefefe;
  background: #000;
  opacity: 0.8;
  border-radius: 10px;
}

#workspaces button {
  padding: 5px;
  color: #666;
  margin-right: 5px;
}

#workspaces button.active {
  color: #fefefe;
}

#workspaces button.focused {
  color: #89b4fa;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
  background: #000;
  padding: 0px 10px;
  margin: 6px 0px;
}

/* close to left */
/* #temperature, #backlight { */
/*     border-radius: 10px 0px 0px 10px; */
/* } */

/*close to the right */
/* #bluetooth { */
/*     border-radius: 0px 10px 10px 0px; */
/*     margin-right: 10px; */
/* } */

#temperature.critical {
  color: #eba0ac;
}

#tray {
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#workspaces {
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

/* #custom-power_profile { */
/*     color: #a6e3a1; */
/*     border-left: 0px; */
/*     border-right: 0px; */
/* } */

/* #window { */
/*     border-radius: 10px; */
/*     margin-left: 60px; */
/*     margin-right: 60px; */
/* } */

#clock {
  color: #fab387;
}

#network {
  color: #ff79c6;
}

#bluetooth {
  color: #89b4fa;
  border-radius: 10px 0px 0px 10px;
} 

#pulseaudio {
  color: #ffffa5;
}

#pulseaudio.microphone {
  color: #bd93f9;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #50fa7b;
}

#backlight {
  color: #ff6e6e;
}

/* #custom-weather { */
/*     border-radius: 0px 10px 10px 0px; */
/*     border-right: 0px; */
/*     margin-left: 0px; */
/* } */

