* {
	background-image: none;
}

window {
    font-family: JetBrains Mono Nerd Font;
    font-size: 1.2rem;
    color: #f9f9f9;
    background-color: #333;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    border: none;
    background-color: #333;
    margin: 4px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(11, 11, 11, 0.4);
}

button:focus {
    background-color: rgba(11, 11, 11, 0.4);
    color: #f9f9f9;
    border: 2px solid #f9f9f9;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
